.span1{
    width: 70px;
}

.span2{
    width: 170px;
}

.span3{
    width: 270px;
}

.span4{
    width: 370px;
}

.span5{
    width: 470px;
}

.span6{
    width: 570px;
}

.span7{
    width: 670px;
}

.span8{
    width: 770px;
}

.span9{
    width: 870px;
}

.span10{
    width: 970px;
}

.span11{
    width: 1070px;
}

.span12{
    width: 1170px;
}

.prefix1{
    left: 28px;
    position: relative;
}